.uploadContainer {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-l);
  height: 50px;
}

.syncHint {
  margin-bottom: var(--spacing-m);
  color: var(--light-body-color);
}
